.back
  width: 100%
  height: 100vh
  background-image: url(../assets/img/back.png)
  background-size: cover
  background-repeat: no-repeat

.caption.about
  
  justify-content: start
  margin-top: 100px
  p
    font-size: 14px
    margin-bottom: 5px
.video
  max-width: 500px
  height: 200px

.image-container
  display: grid
  grid-template-rows: repeat(1, 1fr)
  grid-template-columns: repeat(4, 1fr)
  gap: 1vw
  img
    width: 12vw
    box-shadow: 1px 1px 7px $mainColor
    justify-self: center