.main
  padding: 0
.start-content
  height: 100%
  position: relative
header
  padding-bottom: 10px
  background-color: black
  width: 100%
  height: 85px
  box-shadow: $mainShadow
  position: fixed
  z-index: 1000
.header-wrapper
  font-size: 18px
  height: 100%
  display: flex
  justify-content: space-between
  padding: 15px 0
  width: $contentWidth
  margin: 0 auto
  .menu, .close
    color: $mainColor
    position: absolute
    left: 5vw
    display: none
    font-size: 40px
    top: calc(50% - 20px)
    font-weight: 900

  // position: relative
.header__navigation
  display: flex
  align-items: center
  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    gap: 1vw
    width: 100%

  .arrowUp
    display: none
    color: $mainColor
    position: absolute
    bottom: 0
    left: calc(50% - 6pxpx)
  a
    color: white
    text-decoration: none
    &:hover, &.active
      transition: .5s color 
      color: $mainColor

.logo
  background-image: url(../assets/img/logoBelar.png)
  width: 200px
  height: 50px
  background-repeat: no-repeat
  background-size: contain
.caption-wrapper
  width: $contentWidth
  padding: 20px 0
  height: 100%
.hydro
  width: 40vw
  position: absolute
  transform: rotateY(180deg)
  right: 0
  top: 200px
  z-index: -1
  filter: drop-shadow(8px 14px 6px black)
.caption
  padding-top: 90px
  display: flex
  align-items: center
  flex-direction: column
  height: 100%
  .orgname  
    display: flex
    justify-content: end
    text-transform: uppercase
    .name
      font-size: 20px
      font-weight: 500
      color: $mainColor
      font-style: oblique
.main-caption-wrapper
  width: 60%
.main-caption
  font-size: 50px
  font-weight: 500
.sub-caption
  margin-top: 20px
  font-size: 23px
  strong
    font-weight: normal
.next
  display: block
  font-size: 20px
  width: 313px
  height: 60px
  outline: none
  background-color: $mainColor
  font-weight: bold
  border: none
  margin-top: 45px
  color: $bgColor
  text-decoration: none
  text-align: center
  line-height: 60px
  box-shadow: $mainShadow
  border-radius: 5px
  &:hover
    cursor: pointer
    background-color: $bgColor
    color: $mainColor
    transition: all .5s
.vid
  position: absolute
  width: 600px
  left: 80px
  transform-origin: 0%
  top: 660px
  transform: rotate(-90deg) rotateX(4deg) rotateY(1deg)
  z-index: -1