<div class="top-wrapper">
  <h3 class="title">Гидроцилиндр MC{{titleObj.diamP}}/{{titleObj.diamSh}}×{{titleObj.currentHod}}-{{titleObj.pressureGroup}}.{{titleObj.leftCode}}{{titleObj.rightCode}}.3.3({{titleObj.MO}})(предварительное обозначение)</h3>

  <h4 class="subtitle" [class.active]="topShow">Подвод рабочей жидкости</h4>
  <div class="table-wrapper" [class.active]="topShow">
    <table>
      <tr>
        <th colspan="3">
          <h5>Бонка c внутренней резьбой</h5>
        </th>
        <th colspan="2">
          <h5>Штуцер с наружной резьбой</h5>
        </th>
        <th>
          <h5>Другое по согласованию</h5>
        </th>
      </tr>

      <tr>
        @for (item of constructItem?.workingFluidSupply?.items; track item) {
        <td>
          <h6>{{item.title}}</h6>
        </td>
        }
        <td rowspan="2">
          <textarea cdkTextareaAutosize name="other" id="other" cols="20" rows="4"></textarea>
        </td>
      </tr>
      <tr>
        @for (item of constructItem?.workingFluidSupply?.items; track item) {
        <td class="img-td"><img [src]="item.listImgSrc" alt="Бонка с внутренней резьбой"></td>
        }
      </tr>
      <tr>
        @for (item of constructItem?.workingFluidSupply?.items; track item) {
        <td>
          <div class="cell">
            <mat-radio-button name="topleft" (change)="setElement(item, 'topleft')"></mat-radio-button>
          </div>
        </td>
        }
        <td><button mat-mini-fab color="warn" type="button"
            (click)="clear('topleft'); setElement(null, 'topleft')">x</button></td>
      </tr>
      <!-- <form > -->
      <tr>
        @for (item of constructItem?.workingFluidSupply?.items; track item) {
        <td>
          <div class="cell">
            <mat-radio-button name="topright" (change)="setElement(item, 'topright')"></mat-radio-button>
          </div>
          <!-- <input type="radio" name="right" class="right-radio"> -->
        </td>
        }
        <td>
          <button (click)="clear('topright'); setElement(null, 'topright')" type="reset" for="left" mat-mini-fab
            color="warn">x</button>
        </td>
      </tr>

    </table>
  </div>

</div>
