@import 'variables'
$brd-lite: 1px solid black
$brd-bold: 3px solid black
.constructor
  padding: 20px
  width: $contentWidth
  height: 87vh
  margin: 0 auto
.wrapper
  font-family: Montserrat, sans-serif
  display: grid
  grid-template-areas: "left top top top top top right" "left middle middle middle middle middle right" "left middle middle middle middle middle right" "left bottom bottom bottom bottom bottom right"
  // grid-template-rows: auto 70vh auto
  position: relative
  font-style: italic
  height: 100%
  gap: 10px

.left
  border: $brd-bold
  grid-area: left
    // padding: 5px

  // background: gray


.right
  border: 3px solid black
  grid-area: right

.top
  grid-area: top
  background: green
.middle
  grid-area: middle
  background: yello
.bottom
  grid-area: bottom
  background: blue
