<div class="constructor">

  <div class="wrapper">

    <div class="left">
      <app-side [constructItem]="construct?.sleeveFastening"
      (sideElement)="setSideElement($event, 'left')"
      >
      </app-side>

    </div>

    <div class="grid-wrapper">
      <div class="top">
        <app-top
        [constructItem]="construct"
        ></app-top>
      </div>

      <div class="middle">
        <app-middle
        [sideElement]="sideElement"
        >

        </app-middle>
      </div>
      <div class="bottom">
        <app-bottom></app-bottom>
      </div>
    </div>

    <div class="right">
      <app-side [constructItem]="construct?.stemFastening"
      (sideElement)="setSideElement($event, 'right')"
      >
      </app-side>
    </div>

  </div>

</div>
