@import 'variables'

$brd-lite: 1px solid black
$brd-bold: 3px solid black
.constructor
  padding: 20px
  width: $contentWidth
  // height: 87vh
  margin: 0 auto
.wrapper
  font-family: Montserrat, sans-serif
  display: flex
  position: relative
  font-style: italic
  height: 80vh
  gap: 10px
.grid-wrapper
  height: 100%
  flex-grow: 1
  align-self: stretch
  max-width: 100%
  display: grid

.left
  border: $brd-bold
.right
  border: $brd-bold
.left, .right
  width: 250px
  overflow-y: scroll
  overflow-x: hidden
  scrollbar-width: thin

.top
  background: green
.middle
  width: calc(90vw - 500px)
.bottom
  background: blue
