::host
  display: flex
  height: 100%
.main-wrapper
  max-width: 100%
  overflow: auto
  height: 100%
  scrollbar-width: thin
  position: relative


.img-wrapper
  height: calc(100% + 110px)
  display: flex
  align-items: center
  width: 115%
  justify-content: center
  will-change: scale
  transform-origin: left top
  position: absolute
  top: 0
  &:hover
    cursor: grab
  *
    will-change: auto

#img
  position: relative
  img
    height: 45%
    position: relative
    max-width: 450px
    z-index: 99
    will-change: scale, transform

#left-side, #right-side, #top-left, #top-right
  position: absolute
  will-change: scale, transform
  img
    will-change: scale, transform

#top-left, #top-right
  width: 12%
  img
    max-height: 50px
    will-change: scale, transform

#top-right
  right: 27%
#top-left
  left: 10%

#left-side, #right-side
  height: 82%

.slide
  transform: translateX(0) !important
  transition: transform 0.5s
.topSlide
  transform: translateY(0) !important
  transition: transform 0.3s

::ng-deep
  #size-0, #size-1, #size-2, #size-3
    position: absolute
    z-index: 100
    width: 45px
    font-size: 12px
  mat-form-field
    background: white
    width: 45px
    font-size: 12px
    .mat-mdc-text-field-wrapper
      padding: 5px 5px
      height: 40px
      padding: 3px
      height: 30px

    .mat-mdc-form-field-infix
      padding: 2px !important
      height: 40px
    mat-select
      font-size: 13px !important
  .mat-mdc-option
    padding-left: 8px !important
    min-height: 36px !important

#size-0
  top: 33%
  left: 26%
#size-1
  left: 37%
  top: 33%
#size-2
  top: 33%
  left: 50%
#size-3
  bottom: 7px
  left: 43%
  font-weight: bold
