::host
  display: flex
  height: 100%
.main-wrapper
  max-width: 100%
  overflow: auto
  // display: flex
  justify-content: center
  align-items: center
  height: 100%
  scrollbar-width: thin
  position: relative

.img-wrapper
  height: calc(100% + 110px)
  display: flex
  // display: inline-flex
  align-items: center
  width: 115%
  justify-content: center
  will-change: scale
  transform-origin: left top
  position: absolute
  top: 0
  &:hover
    cursor: grab
#img
  position: relative
  img
    height: 45%
    position: relative
    max-width: 450px
    z-index: 99
    @media screen and (max-width: 740px)
      width: 300px
    @media screen and (max-width: 500px)
      width: 250px
#size-0
  position: absolute
  top: 33%
  left: 26%
  z-index: 100
#size-1
  position: absolute
  z-index: 100
  left: 37%
  top: 33%

#size-2
  position: absolute
  z-index: 100
  top: 33%
  left: 50%
#left-side, #right-side, #top-left, #top-right
  position: absolute
  will-change: transform

#top-left, #top-right
  width: 12%
  img
    min-height: 80px
    max-height: 100px
    @media screen and (max-width: 700px)
      min-height: 40px
      max-height: 50px
#top-right
  right: 27%
#top-left
  left: 10%

#left-side, #right-side
  height: 82%

.slide
  transform: translateX(0) !important
  transition: transform 0.5s
.topSlide
  transform: translateY(0) !important
  transition: transform 0.3s

::ng-deep
  mat-form-field
    background: white
    width: 45px
    font-size: 12px
    .mat-mdc-text-field-wrapper
      padding: 5px 5px
      height: 40px
      padding: 3px
      height: 30px
      // padding: 1px
      // height: 25px
    .mat-mdc-form-field-infix
      padding: 2px !important
      height: 40px
    mat-select
      font-size: 13px !important
  .mat-mdc-option
    padding-left: 8px !important
    min-height: 36px !important
