<footer>
  <div class="footer-overlay">
  </div>
  <div class="footer-map">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.8721781156346!2d30.99101244730657!3d52.46334231568397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d46942709bebdf%3A0xaa2a2cecd0b0d8a8!2z0YPQuy4g0KjQuNC70L7QstCwIDgsINCT0L7QvNC10LvRjCwg0JPQvtC80LXQu9GM0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1708322952413!5m2!1sru!2sby"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="footer-bg" id="contacts">
    <div class="footer-wrapper">
      <div class="footer-contacts">
        <div class="rb">
          <div class="belar">
            <ul class="company-card">
              <li class="company-caption">
                <h3 class="company-name">
                  OOO &laquo;ТМ Белар&raquo;
                </h3>
              </li>
              <li class="company-address">
                <address>
                  Республика Беларусь, 246008, г. Гомель, ул. Шилова, д.8.
                </address>
              </li>
              <li class="company-department-item priem">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Приемная:
                    </h5>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (232) 55-11-95
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (44) 776-34-55
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      <span>info&#64;belar.pro</span>
                    </a>
                  </li>

                </ul>
              </li>
              <li class="company-department-item constr">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Согласование конструкторской документации:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Марданян Максим Геннадьевич</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (232) 53-98-11
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (44) 505-57-83
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      konstr&#64;belar.pro
                    </a>
                  </li>
                </ul>
              <li class="company-department-item sales">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Отдел продаж:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Кариков Дмитрий Михайлович</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (44) 580-03-60
                    </a>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Пахунова Евгения Константиновна</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (44) 583-58-50
                    </a>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Кудрявская София Сергеевна</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (44) 583-63-54
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      sales&#64;belar.pro
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Техно start -->
          <div class="techno">
            <ul class="company-card">
              <li class="company-caption techno-caption">
                <h3 class="company-name">
                  Распределительная компания в РБ ООО "ТехнокомплектТрейд"
                </h3>
              </li>
              <li class="company-address techno-address">
                <address>
                  Республика Беларусь, 246008, г. Гомель, ул. Шилова, д.8.
                </address>
              </li>
              <li class="company-department-item department-techno">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Контактное лицо:
                    </h5>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      Артюшков Андрей Олегович
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (232) 33-36-66
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +375 (29) 655-03-84
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      treyd_2016&#64;mail.ru
                    </a>
                  </li>

                </ul>
              <li class="region">
                <ul class="regions">
                  <li>
                    <h5 class="company-department-item company-name">
                      Регион ответственности:
                    </h5>
                  </li>
                  <li class="region">Брестская область</li>
                  <li class="region">Витебская область</li>
                  <li class="region">Гомелькая область</li>
                  <li class="region">Гродненская область</li>
                  <li class="region">Могилевская область</li>
                  <li class="region">Минская область</li>
                  <li class="region">г. Минск</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- Техно end  -->
        <div class="rf">
          <h3 class="company-name">
            Распределительные компании в РФ
          </h3>
          <section class="rf-companes">
            <!--  -->
            <ul class="company-card">
              <li>
                <h3 class="company-name">
                  ТД «Союзгидравлика»
                </h3>
              </li>
              <li>
                <address class="company-address">
                  Российская Федерация, 308013,
                  Белгородская обл., г. Белгород, ул. Рабочая, 14, Литер Б8, каб. 17
                </address>
              </li>
              <li class="company-department-item">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Контактное лицо:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Белецкий Алексей Васильевич</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (4722) 21-13-59
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7(919)225 55 80
                    </a>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Зарубин Александр Юрьевич</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (4722) 56-81-36
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (919) 280-55-80
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      unionhyd&#64;mail.ru
                    </a>
                  </li>
                  <li>
                    <ul class="regions">
                      <li>
                        <h5 class="company-department-item company-name">
                          Регион ответственности:
                        </h5>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Волго-Вятский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Кировская область</li>
                            <li class="region">Республика Марий Эл</li>
                            <li class="region">Республика Мордовия</li>
                            <li class="region">Чувашская Республика</li>
                            <li class="region">Пензенская область</li>
                            <li class="region">Самарская область</li>
                            <li class="region">Саратовская область</li>
                            <li class="region">Нижегородская область</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Центрально-Черноземный регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Белгородская область</li>
                            <li class="region">Карачаево-Черкесская Республика</li>
                            <li class="region">
                              Курская область
                            </li>
                            <li class="region">
                              Липецкая область
                            </li>
                            <li class="region">
                              Тамбовская область
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Центральный регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Брянская область</li>
                            <li class="region">Владимирская область</li>
                            <li class="region">
                              Ивановская область
                            </li>
                            <li class="region">
                              Калужская область
                            </li>
                            <li class="region">
                              Рязанская область
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Уральский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Курганская область</li>
                            <li class="region">Оренбургская область</li>
                            <li class="region">
                              Свердловская область
                            </li>
                            <li class="region">
                              Удмуртская Республика
                            </li>
                            <li class="region">
                              Ульяновская область
                            </li>
                            <li class="region">
                              Челябинская область
                            </li>
                            <li class="region">
                              Орловская область
                            </li>
                            <li class="region">
                              Смоленская область
                            </li>
                            <li class="region">
                              Тверская область
                            </li>
                            <li class="region">
                              Тульская область
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
            <ul class="company-card">
              <li>
                <h3 class="company-name">
                  АО «Технический центр «Белинсксельмаш»
                </h3>
              </li>
              <li>
                <address class="company-address">
                  Российская Федерация, 346886, Ростовская область, г. Батайск, ул.Производственная, д. 4Б.
                </address>
              </li>
              <li class="company-department-item">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Контактное лицо:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Чураков Константин Юрьевич</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (863) 308-98-71
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (863) 308-98-72
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7(863)308-98-73
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (863) 308-98-74
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      6261918&#64;gmail.ru
                    </a>
                  </li>
                  <li>
                    <ul class="regions">
                      <li>
                        <h5 class="company-department-item company-name">
                          Регион ответственности:
                        </h5>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Поволжский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Астраханская область</li>
                            <li class="region">Волгоградская область</li>
                            <li class="region">Республика Калмыкия</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Северо-Кавказский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Кабардино-Балкарская Республика</li>
                            <li class="region">Карачаево-Черкесская Республика</li>
                            <li class="region">
                              Краснодарский край
                            </li>
                            <li class="region">
                              Республика Адыгея
                            </li>
                            <li class="region">
                              Республика Дагестан
                            </li>
                            <li class="region">
                              Республика Ингушетия
                            </li>
                            <li class="region">
                              Республика Северная Осетия
                            </li>
                            <li class="region">
                              Ростовская область
                            </li>
                            <li class="region">
                              Ставропольский край
                            </li>
                            <li class="region">
                              Чеченская Республика
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
            <ul class="company-card">
              <li>
                <h3 class="company-name">
                  АО «ГИДРОТАКТ»
                </h3>
              </li>
              <li>
                <address class="company-address">
                  Российская Федерация, 140053, Московская область, г.Котельники,мкр-н. Силикат, д. 43.
                </address>
              </li>
              <li class="company-department-item">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Контактное лицо:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Кожемякин Павел Александрович</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (495) 500-10-30,
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (495) 500-10-40
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      hydrotakt&#64;mail.ru
                    </a>
                  </li>
                  <li>
                    <ul class="regions">
                      <li>
                        <h5 class="company-department-item company-name">
                          Регион ответственности:
                        </h5>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Московский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">г.Москва</li>
                            <li class="region">Московская область</li>
                            <li class="region">Республика Татарстан</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Северный регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Архангельская область</li>
                            <li class="region">Вологодская область
                            <li class="region">Мурманская область</li>
                            <li class="region">Ненецкий автономный округ</li>
                            <li class="region">Республика Коми</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Северо-Западный регион
                          </summary>
                          <ul class="regions">
                            <li class="region">г.Санкт-Петербург</li>
                            <li class="region">Калининградская область
                            <li class="region">Ленинградская область</li>
                            <li class="region">Новгородская область</li>
                            <li class="region">Псковская область</li>
                            <li class="region">Республика Карелия</li>
                            <li class="region">Пермский край</li>
                            <li class="region">Республика Башкортостан</li>
                            <li class="region">Костромская область</li>
                            <li class="region">Ярославская область</li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
            <ul class="company-card">
              <li>
                <h3 class="company-name">
                  Филиал АО «ГИДРОТАКТ»
                </h3>
              </li>
              <li>
                <address class="company-address">
                  Российская Федерация, 656000, г.Барнаул, пр. Космонавтов д.14/19.
                </address>
              </li>
              <li class="company-department-item">
                <ul class="company-department">
                  <li>
                    <h5 class="company-department-name">
                      Контактное лицо:
                    </h5>
                  </li>
                  <li class="company-department-employee">
                    <a href="#">
                      <img src="./assets/img/man.png" alt="#" class="contact-icon">
                      <span>Штерцер Евгений Вальдемирович</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (3852) 33-59-76
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/phone.png" alt="#" class="contact-icon">
                      +7 (913) 211-80-80
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/img/mail.png" alt="" class="contact-icon">
                      cpk_b&#64;mail.ru
                    </a>
                  </li>
                  <li>
                    <ul class="regions">
                      <li>
                        <h5 class="company-department-item company-name">
                          Регион ответственности:
                        </h5>
                      </li>

                      <li class="region">
                        <details>
                          <summary>
                            Восточно-Сибирский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Забайкальский край</li>
                            <li class="region">Иркутская область
                            <li class="region">Красноярский край</li>
                            <li class="region">Республика Бурятия</li>
                            <li class="region">Республика Тыва</li>
                            <li class="region">Республика Хакасия</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Дальневосточный регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Амурская область</li>
                            <li class="region">Еврейская автономная область</li>
                            <li class="region">Камчатский край</li>
                            <li class="region">Магаданская область</li>
                            <li class="region">Приморский край</li>
                            <li class="region">Республика Саха (Якутия)</li>
                            <li class="region">Сахалинская область</li>
                            <li class="region">Хабаровский край</li>
                            <li class="region">Чукотский автономный округ</li>
                          </ul>
                        </details>
                      </li>
                      <li class="region">
                        <details>
                          <summary>
                            Западно-Сибирский регион
                          </summary>
                          <ul class="regions">
                            <li class="region">Алтайский край</li>
                            <li class="region">Кемеровская область</li>
                            <li class="region">Новосибирская область</li>
                            <li class="region">Омская область</li>
                            <li class="region">Республика Алтай</li>
                            <li class="region">Томская область</li>
                            <li class="region">Тюменская область</li>
                            <li class="region">Ханты-Мансийский автономный</li>
                            <li class="region">Ямало-Ненецкий автономный округ</li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-politics">
    <img class="logo" src="assets/img/logoBelar.png" alt='OOO TM "Белар"' title='OOO TM "Белар" - производство гидроцилиндров'>
    <div class="politics">

    </div>
  </div>
</footer>
