@import 'variables'
*
  font-family: 'Monserrat', sans-serif
::ng-deep
  mat-panel-title
    flex-grow: 2 !important
  .mat-expansion-panel-header-description
    flex-grow: 1 !important
  mat-form-field
    width: 100%
h5, th
  font-weight: bold
h5
  font-size: 18px
table
  fzs: 16px

