<div class="img-container">
  <div class="controls">
    <a [href]="currentImgSrc" download>
      <span class="material-symbols-outlined">
        download
        </span>
      </a>
  </div>
  <swiper-container id="gallerySwiper"
  loop="true"
  navigation="true"
  (swiperslidechange)="onCh($event)"
  >
  @for (img of tempArray; track img) {
    <swiper-slide class="slide">
      <img class="slideImg" [src]="img.pathFull" alt="Производство ТМ Белар">
    </swiper-slide>
  }
</swiper-container>
</div>
