<main class="container-fluid main">
  <div class="start-content">
    <section class="caption" id="caption">
      <div class="caption-wrapper">
        <!-- <article class="orgname">
          <h2 class="name">OOO &laquo;ТМ Белар&raquo; - Создаем вечное движение уже сегодня!</h2>
        </article> -->
        <div class="main-caption-wrapper">
          <h1 class="main-caption">Производство гидроцилиндров</h1>
          <h2 class="sub-caption">
            <strong>Проектирование, разработка конструкторской документации</strong> и полный цикл
            <strong>изготовления
              гидроцилиндров любой
              сложности</strong> от опытных образцов до серийного производства.
          </h2>
          <h2 class="sub-caption">
            <strong>Изготовление гидроцилиндров для комбайнов, тракторов, погрузчиков, лесной, дорожностроительной,
              навесной,
              прицепной и другой техники.</strong>
          </h2>
          <h2 class="sub-caption">
            <strong>Модельный ряд гидроцилиндров от 25 до 140 мм внутреннего диаметра гильзы (диаметр
              поршня).</strong>
          </h2>
          <h2 class="sub-caption">
            По согласованию с клиентом гидроцилиндр комплектуется <strong>гидрозамками, сапунами, демпферами,
              пружинами,
              фланцами
              и другими деталями.</strong>
          </h2>

        </div>
        <!-- <a class="next" href="#about">Подробнее о компании</a> -->
        <!-- <div class="next">
          <img src="assets/img/plungh.png" alt="гидроцилиндр" title="Плунжерный гидроцилиндр">
          <img src="assets/img/secondShtock.png" alt="гидроцилиндр" title="Двухштоковый гидроцилиндр">
          <img src="assets/img/cy.png" alt="гидроцилиндр" title="Поршневой гидроцилиндр">

        </div> -->
        <div class="gallery">
          <!-- <article class="card">
            <figure><img src="assets/img/slider/1.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article>
          <article class="card">
            <figure><img src="assets/img/slider/2.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article>
          <article class="card">
            <figure><img src="assets/img/slider/3.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article>
          <article class="card">
            <figure><img src="assets/img/slider/4.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article>
          <article class="card">
            <figure><img src="assets/img/slider/5.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article>
          <article class="card">
            <figure><img src="assets/img/slider/6.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров"></figure>
          </article> -->
          <swiper-container id="swipe-container" loop="true" navigation="true"
          effect="cube" grab-cursor="true"
          cube-effect-shadow="true"
          cube-effect-slide-shadows="false"
          cube-effect-shadow-offset="40"
          cube-effect-shadow-scale="1"
>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/1.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">
            </swiper-slide>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/2.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">
            </swiper-slide>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/3.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">
            </swiper-slide>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/4.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">
            </swiper-slide>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/5.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">
            </swiper-slide>
            <swiper-slide >
              <img class="gallery-img" src="assets/img/slider/6.gif" title="Применение гидроцилиндров"
                alt="Производство гидроцилиндров">

            </swiper-slide>
          </swiper-container>
        </div>
        <video class="vid" src="./assets/video/cyl.mp4" oncanplay="this.play()" onloadedmetadata="this.muted = true"
          autoplay="true" loop="true" muted playsinline></video>
      </div>
    </section>
  </div>


</main>
