$brd-lite: 1px solid black
$brd-bold: 3px solid black
h3
  font-size: 15px
  text-align: center
  border-bottom: $brd-lite
  margin-bottom: 0
strong
  font-size: 13px
.title
  display: flex
  flex-direction: column
.subtitle-wrapper
  display: flex
  justify-content: start
  border-bottom: $brd-lite
  gap: 15px
.nomination
  display: block
  text-align: center
  flex-grow: 3
  width: 100%
.code
  padding-left: 15px
  padding-right: 15px
  flex-grow: 1
  border-right: 1px solid black
.btn-container
  padding: 5px
  display: flex
  justify-content: center
  border-bottom: $brd-lite

  button
    margin: 0 auto
